/* Pulsante con colore di sfondo trasparente, ottimo per le icone */
.personal-button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.my_button{
    background-color: #00C78C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dark-blue-button {
    background-color: #191970;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.yellow-button{
    background-color: #FFB90F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/***************************************************************************************************/
/* NAVBAR */
/***************************************************************************************************/
.navbar-nav li {
    margin-left: 35px;
}

.large-italic-text {
    font-size: 18px;
    font-style: italic;
}

nav.my-custom-navbar.navbar-light {
    background-color: #008080 !important;
}

/* Cambia il colore del testo nella navbar */
.my-custom-navbar .nav-link {
    color: #ffffff !important;
}

/* Cambia il colore del testo quando si passa sopra un link nella navbar */
.my-custom-navbar .nav-link:hover {
    color: white !important;
}


/***************************************************************************************************/
/* BREADCRUMB */
/***************************************************************************************************/
.breadcrumb{
    background-color: #5F9EA0 !important;
    max-height: 60px !important;    
}
.breadcrumb-item a {
    color: white; /* Colore del link */
    font-size: 20px !important; 
}

.breadcrumb-item.active {
    color: white; /* Colore dell'elemento attivo */
    font-size: 20px !important;
}



/***************************************************************************************************/
/* PAGINE ANAGRAFICHE  */
/***************************************************************************************************/
.label-container {
    margin: auto;
    text-align: center;
}

.table-container {
    width: 70%; 
    margin-left: 20px;
}

.search-container {
    width: 15%;
    margin-right: 20px;
}


.pagination .page-link.teal {
    color: teal;
}

.pagination .page-item.active .page-link.teal {
    background-color: teal;
    border-color: teal;
    color: white;
}

.pagination .page-item.page-counter .page-link {
    color: white;
    background-color: teal;
    border-color: teal;
}

.expandable-cell {
    max-width: 200px;
    position: relative;
    padding-right: 20px;
}

.expandable-cell .content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.expandable-cell.expanded .content {
    white-space: normal;
    overflow: visible;
    max-height: none;
}

.expand-arrow {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 0.8em;
    color: #888;
}

.expandable-cell.expanded .expand-arrow::after {
    content: '▲';
}

.expandable-cell:not(.expanded) .expand-arrow::after {
    content: '▼';
}

.blue-button {
    background-color: teal;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.blue-button:hover {
    background-color: #007a7a;
}
.action-buttons {
    display: flex;
    gap: 5px; 
}

.action-buttons form {
    margin: 0;
}
