/* Pulsante con colore di sfondo trasparente, ottimo per le icone */
.personal-button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.my_button{
    background-color: #00C78C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dark-blue-button {
    background-color: #191970;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.blue-button {
    background-color: cadetblue;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.yellow-button{
    background-color: #FFB90F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/***************************************************************************************************/
/* NAVBAR */
/***************************************************************************************************/
.navbar-nav li {
    margin-left: 35px;
}

.large-italic-text {
    font-size: 18px;
    font-style: italic;
}

nav.my-custom-navbar.navbar-light {
    background-color: #008080 !important;
}

/* Cambia il colore del testo nella navbar */
.my-custom-navbar .nav-link {
    color: #ffffff !important;
}

/* Cambia il colore del testo quando si passa sopra un link nella navbar */
.my-custom-navbar .nav-link:hover {
    color: white !important;
}


/***************************************************************************************************/
/* BREADCRUMB */
/***************************************************************************************************/
.breadcrumb{
    background-color: #5F9EA0 !important;
    max-height: 50px;    
}
.breadcrumb-item a {
    color: white; /* Colore del link */
    font-size: 15px;
}

.breadcrumb-item.active {
    color: white; /* Colore dell'elemento attivo */
    font-size: 15px;
}
