{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .navbar-nav {
            width: 100%;
        }
        .guide-link {
            margin-left: auto !important;
            margin-right: 15px !important; /* Aggiunto margine destro */

        }
    </style>

    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function confirmLogout() {
            if (confirm("Sei sicuro di voler effettuare il logout?")) {
                const csrftoken = getCookie('csrftoken');
                fetch("{% url 'logout' %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                }).then(() => {
                    window.location.href = "{% url 'login' %}";
                });
            }
        }
    </script>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light my-custom-navbar">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/logo.png' %}" width="250" height="40" class="d-inline-block align-top" alt="">
    </a>


    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Anagrafiche
                </a>

                <!--  CONTROLLO SULL'UTENTE SUPERUSER O SUL GRUPPO DELL'UTENTE AMMINISTRATIVO -->
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'mainapp:situazione_fornitori' %}">Anagrafiche Fornitori</a>
                    <a class="dropdown-item" href="{% url 'mainapp:situazione_societa' %}">Anagrafiche Società</a>
                    <a class="dropdown-item" href="{% url 'mainapp:situazione_magazzini' %}">Anagrafiche Magazzini</a>
                    <a class="dropdown-item" href="{% url 'mainapp:situazione_mezzi' %}">Anagrafiche Mezzi</a>
                    <a class="dropdown-item" href="{% url 'mainapp:situazione_tipologie' %}">Anagrafiche Tipologie</a>
                    <a class="dropdown-item" href="{% url 'mainapp:situazione_zone' %}">Anagrafiche Zone</a>
                </div>


            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Import Listini
                </a>

                <!--  CONTROLLO SULL'UTENTE SUPERUSER O SUL GRUPPO DELL'UTENTE AMMINISTRATIVO -->
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'mainapp:listino' %}">Visualizza Listino</a>
                    <a class="dropdown-item" href="{% url 'mainapp:import_listino' %}">Importa Listino</a>
                    <a class="dropdown-item" href="{% url 'mainapp:listino_falliti' %}">Visualizza Import Falliti</a>
                </div>
            </li>


            {% if user.is_superuser %}
                <!-- CONTROLLO SULL'UTENTE SUPERUSER-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Utenti
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Crea nuovo utente</a>
                        <a class="dropdown-item" href="#">Visualizza Utenti</a>
                    </div>
                </li>
            {% endif %}

            <li class="nav-item guide-link">
                <a class="nav-link" style="background-color: coral;" role="button" onclick="confirmLogout()" aria-expanded="false">
                    Logout   
                </a>
            </li>
        </ul>
    </div>
</nav>

