{% extends 'base.html' %}
{% load static %}

{% block head %}
    <style>
        .main_div{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    </style>
{% endblock %}


{% block content %}

    {% include 'navbar.html' %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'mainapp:situazione_zone' %}">Zone</a></li>
            <li class="breadcrumb-item active" aria-current="page">Caricamento Zone da file</li>
        </ol>
    </nav>


    <div class="main_div">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file" accept=".xlsx, .xls">
            <button type="submit">Importa</button>
        </form>
    </div>
{% endblock %}