{% extends 'base.html' %}
{% load static %}

{% block head %}
<style>
    .reset-container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
    }
    .logo-container {
        text-align: center;
        margin-bottom: 30px;
    }
    .reset-title {
        color: teal;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .reset-instructions {
        margin-bottom: 20px;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .blue-button {
        background-color: teal;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .blue-button:hover {
        background-color: #007a7a;
    }
</style>
{% endblock %}

{% block content %}
<div class="reset-container">
    <div class="logo-container">
        <img src="{% static 'img/logo.png' %}" alt="GRUPPO CONCORDE" class="img-fluid">
    </div>
    
    <h3 class="reset-title">{{ utente.username }} resetta la tua password</h3>
    
    <p class="reset-instructions">La password deve:<ul>

        <li> Essere lunga almeno 8 caratteri</li>
        <li> Contenere almento una lettera maiuscola</li>
        <li> Contenere almento un numero</li>
        <li> Contenere almeno un carattere speciale</li>
    </p></ul>
    
    <form id="resetPasswordForm" method="POST" action="{% url 'userapp:reset_password' hash %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="conferma_password">Conferma Password</label>
            <input type="password" class="form-control" id="conferma_password" name="conferma_password" required>
        </div>
        <div class="form-group" style="text-align: center;">
            <button type="submit" class="blue-button">Conferma</button>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.getElementById("resetPasswordForm").addEventListener("submit", function(event) {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("conferma_password").value;

        if (password !== confirmPassword) {
            event.preventDefault();
            alert("Le password non corrispondono");
        }
    });
</script>
{% endblock %}